
/*  Portada */
.contenedor-imagen{
background-image: url(../portada.png);
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
height: 40px;
text-align: center;
color: #fff;
padding: 300px;
}
.txtAu{
    font-size: 80px;
}


/*  Navegador */
.navegador {
    /* Estilos adicionales para el contenedor del menú si es necesario */
    background-color: rgb(163, 97, 97);
    padding-top: 20px;
    padding-bottom: 30px;
    border-top: 2px solid rgb(255, 255, 255); /* Borde en la parte superior */
    border-radius: 20px 20px 0 0; 
    margin-top: -20px;
}

.navegador ul {
    list-style-type: none; /* Elimina los marcadores de lista */
    padding: 0;
    margin: 0;
}

.navegador ul li {
    display: inline; /* Muestra los elementos de lista en línea */
    margin-right: 90px; /* Espacio entre los elementos de la lista si es necesario */
    margin-left: 40px;
}

.navegador ul li a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: black; /* Color del texto para los enlaces */
}

/* Div sobrenosotros*/

.Sobre_nosotros{
    background-color: rgba(245, 241, 241, 1);
}
.subTitulo{
    text-align: center;
   padding-top: 40px;
}
.parrafo{
    text-align: center;
    
    font-size: 18px;
    padding: 10px;

}
.imagen{
    width: 90%;
    height:90%;
    margin-left: 80px;
}
/* Div servicios*/
.Servicios{
    background-color: rgba(245, 241, 241, 1);
    padding-bottom: 30px;
}
.imagen-2 {
    display: flex;
    justify-content: space-around;
    margin: 100px;
}
.uno {
    max-width: 100%;
    max-height: 400px; /* Ajusta la altura máxima para hacer las imágenes un poco más grandes */
    margin: 1px;
}
/* Div h_a*/
.corazonImg {
    text-align: center; /* Esto centrará horizontalmente el contenido dentro del contenedor */
    margin: 100px;
}


/* Div consejos y recursos */
.Con_Rec{
    background-color: aliceblue;
    
}

.miniParrafo {
    display: inline-block; /* Esto hará que los párrafos se muestren como cuadros */
    width: 180px; /* Ancho deseado para cada cuadro */
    margin: 40px; /* Espacio entre los cuadros */
    padding: 16px; /* Espacio interior dentro de cada cuadro */
    font-size: 18px;
    vertical-align: top;
    text-align: center;
    margin-bottom: 100px;

}


/*  div contacto */
.Logo_Final{
    text-align: center;
}


.img_redes {
    display: flex;
    flex-direction: row; /* Alinea los elementos en una fila horizontal */
}

.red_social {
    display: flex;
    flex-direction: column; /* Alinea los elementos en una columna vertical dentro de cada .red_social */
    align-items: center; /* Alinea horizontalmente los elementos dentro de cada .red_social */
    margin-right: 70px; /* Espacio entre cada red social */
    margin-left: 50px;
}


.red_social img {
    width: 30px; /* Ajusta el ancho de las imágenes según sea necesario */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-bottom: 5px; /* Espacio entre la imagen y el texto */
}



